@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #09c398;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
}
.deco {
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 0;
  border-radius: 300px 0 0 300px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: white; */
  height: 10%;
  padding: 50px;
  /* position: sticky; */
  z-index: 1;
}
span {
  color: white;
}
.socials {
  display: flex;
  gap: 10px;
}
.socials img {
  width: 30px;
  height: auto;
}
.socials ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}
.socials li {
  margin-left: 10px;
}
.socials a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
}
.socials a:hover {
  font-size: large;
  font-weight: 500;
}
.landing {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}
.landing p {
  max-width: 70%;
  text-align: center;
  font-size: 1rem;
}
.landing h1 {
  text-align: center;
}
button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  /* border-color: black; */
  cursor: pointer;
}
.features {
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}
.feature {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.feature p {
  text-align: center;
}
.featuresContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex: 1;
}
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background-color: black;
  color: white;
}
.pricing p {
  max-width: 50vw;
  text-align: center;
}
.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}
.packages {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid white;
}
a {
  color: #09c398;
}
#contact {
  height: 30vh;
  background-color: #09c398;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
